@charset "utf-8";

body {
	background-color:rgba(76,76,76,1);
	width:100%;
	-webkit-text-size-adjust: 50%;
}

html {
	max-height:999999px;
}

#wrapper {
	width: 960px;
	height: 5019px;
	background-color:#ffffff;
	display: block;
	position: absolute;
	left:50%;
	margin-left:-420px;
}


.sidebar {
	width:120px;
	height:2500px;
	background-color:#b00505;
	position:fixed;
	left:50%;
	margin-left:-540px;
	margin-top:-10px;
}

.navbuttons {
	position:absolute;
	top:180px;
	right:10px;
}

.navbuttons p {
	color:#FFFFFF;
	font-family: 'Crimson Text', serif;
	font-size:30px;
	line-height: 5px;
	text-align:end;
}

.navlines {
	position:absolute;
	top:195px;
	right:0px;
	width:4px;
	height:210px;
	background-color:#626262;
}

.navwrapper {
	width:960px;
	height: 50px;
	background-color:#660001;
	position: fixed;
	margin-top: -10px;
	z-index: 999;
	display: inline;
	visibility:hidden;             /*hide top navbar for big screens*/
}

#navline {
	height:3px;
	width:960px;
	background-color:#626262;
	position:fixed;
	top:48px;
	z-index:999;
	visibility:hidden;             /*hide top navbar for big screens*/

}

.navwrapper h1 {
	margin-left:6%;
	margin-right:auto;
	position:relative;
	top:-6px;
	visibility:hidden;             /*hide top navbar for big screens*/
}

.navwrapper a {
	text-decoration:none;
	visibility:hidden;             /*hide top navbar for big screens*/
}


.navwrapper img {
	height:40px;
	width:auto;
	margin-left:10px;
	position:relative;
	top:12%;
	visibility:hidden;             /*hide top navbar for big screens*/
}

.navwrapper .page-over {
	visibility:hidden;             /*hide top navbar for big screens*/
}
.navbar h1 {
	color: #FFFFFF;
	font-weight: 200;
	display: inline;
	width:100%
}          /*topnavbar*/





.navbuttons a {
	color:#ffffff;
	text-decoration:none;
}


#page-over {
	position:absolute;
	top:-15px;
}

#page-blog {
	position:absolute;
	top:500px;
}

#page-nieuws {
	position:absolute;
	top:1400px;
}

#page-redactie {
	position:absolute;
	top:2180px;
}

#page-contact {
	position:absolute;
	top:2950px;
}

#page-archief {
	position:absolute;
	top:3900px;
}






#Anchorpage0 {
	position:absolute;
	height:0px;
	width:0px;
	top:0px;
}

#Anchorpage1 {
	position:absolute;
	height:0px;
	width:0px;
	top:600px;
}

#Anchorpage2 {
	position:absolute;
	height:0px;
	width:0px;
	top:1130px;
}

#Anchorpage3 {
	position:absolute;
	height:0px;
	width:0px;
	top:1700px;
}

#Anchorpage4 {
	position:absolute;
	height:0px;
	width:0px;
	top:2370px;
}

#logowrap {
	height:110px;
	width:960px;
	background-color:#b00505; /*#ab3737*/
	z-index:998;
	display:block;
	opacity:1;
	margin-top:-10px;
	position:fixed;
}

#logowrap img {
	width:660px;
	height:auto;
	margin-left:-113px;
	margin-top:12px;
}





p {
	font-size:16px;
	font-family: 'Crimson Text', serif;
}

.text1 h3 {
	font-family:'Crimson Text', serif;
	font-weight:200;
	margin-left:116px;
	font-size:80px;
	color:#CD0003;
	font-weight:inherit;
	z-index:998;
	margin-top:60px;
}

h3 {
	color:#CD0003;
	font-weight:200;
}

.text1 .quote {
	font-size:28px;
	color:#CD0003;
	font-weight:inherit;
	z-index:998;
	text-align:center;
	margin-left:570px;
	margin-right:90px;
	margin-top:0px;
	z-index:998;
	position:absolute;
	top:calc(700px + 208px - 610px);
	visibility:hidden;
}

.red {
	color:#CD0003;
	font-size:20px;
}

.text1 p {
	color:#2B2B2B;
	font-weight:inherit;
	margin-top:-10px;
	margin-left:116px;
	margin-right: 410px;
	margin-top:-70px;
}





.page-over {
	position:absolute;
	top:90px;
	left:-20px;
}

.page-over img {
	width:80px;
	height:107px;
}

.page-over .images {
	position:absolute;
	left:116px;
	right:400px;
}

.showcase {
	position:absolute;
	top:200px;
	left:645px;
	width:250px;
	height:auto;
	z-index:997;
	text-align:center;
}

.showcase img {
	width:215px;
}


/*.page-evenementen h3 {
	font-family:"Times New Roman", serif;
	font-weight:200;
	font-size:80px;
	color:#CD0003;
	font-weight:inherit;
	z-index:998;
}

.page-evenementen .text {
	position:absolute;
	left:140px;
	top:calc(1097px + 400px - 516px);
	right:450px;
}

.page-evenementen h3 {
	position:absolute;
	left:0px;
	top:calc(-200px);
	right:450px;
}

.page-evenementen .red {
	margin-top:-20px;
}

.page-evenementen #foto1 {
	position:absolute;
	top: calc(1187px + 300px - 516px);
	left:530px;
	width:230px;
	height:auto;
}*/





.page-blog {
}

/*.page-blog .blog {
	position: absolute;
	top:2515px;
	left:770px;
	font-size:80px;
}*/

.page-blog .blog {
	position: absolute;
	top:calc(2475px - 516px - 1360px + 80px);
	left:190px;
	font-size:80px;
}

.page-blog a {
	text-decoration:none;
	color:#2B2B2B;
}

.page-blog .blogwrapper {
	position:absolute;
	top:calc(2700px - 516px - 1420px + 80px);
	left:180px;
	border:none;
	border-width:2px;
	border-color:#dddddd;
	width:700px;
	height:560px;
	overflow:auto;

}

.page-blog .content {
}

.page-blog .content div {
	height:140px;
	border:none;
	border-color:#E8E8E8;
	border-width:1px;
	background-color:;
	margin-left:3px;
	margin-right:3px;
	margin-top:30px;
	   -o-transition:.2s;
	   -ms-transition:.2s;
	   -moz-transition:.2s;
	   -webkit-transition:.2s;
	   transition:.2s;
	overflow:hidden;
	padding:10px;
}

.page-blog .content div:hover {
	background-color:#aaaaaa; /*#984042*/
}

.page-blog .content img {
	max-height:140px;
	max-width:230px;
	float:right;
	margin-top:0px;
}

.page-blog .content p {
}

.page-blog .content .blog1 {
	overflow: hidden;
	margin-left:3px;
}

.expandedblogwrap {
	display:none;
	
}

.expandedblog {
	display:none;
	width:700px;
	margin:50px;
}

.expandedblog h3 {
	font-size:35px;
}

.expandedblog img {
	max-width:600px;
	max-height:500px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.page-nieuws .expandedblog img {
	max-width:200px;
	max-height:180px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#expandednieuws1 img {
	max-width:300px;
	max-height:300px;
}

#expandednieuws2 img {
	max-width:300px;
	max-height:300px;
}

#expandednieuws3 img {
	max-width:300px;
	max-height:300px;
}



/* .page-blog div {
	border:solid;
	border-width:2px;
	border-color:#626262;
}

.page-blog h3 {
	position:absolute;
	z-index:998;
	top:calc(2070px + 200px + 180px + 0px);
	left:670px;
	font-size:80px;
}

.page-blog .blog1 div {
	position:absolute;
	margin-top:1680px;
	width:440px;
	left:220px;
	height:200px;
}

.page-blog .blog1 .red {
	margin-bottom:-15px;
}

.page-blog .blog1 img {
	max-width:130px;
	max-height:130px;
	position:absolute;
	bottom:50px;
	left:450px;
}

.page-blog .blog1 .leesmeer {
	margin-top:-18px;
}

.page-blog .blog2 div {
	position:absolute;
	margin-top:1850px;
	width:440px;
	left:350px;
	height:200px;
	border-width:2px;
	border-color:#626262;
}

.page-blog .blog2 .red {
	margin-bottom:-15px;
}

.page-blog .blog2 img {
	max-width:130px;
	max-height:130px;
	position:absolute;
	bottom:50px;
	left:-140px;
}

.page-blog .blog2 .leesmeer {
	margin-top:-18px;
}

.page-blog .blog3 div {
	position:absolute;
	margin-top:2020px;
	width:440px;
	left:220px;
	height:200px;
}

.page-blog .blog3 .red {
	margin-bottom:-15px;
}

.page-blog .blog3 img {
	max-width:130px;
	max-height:130px;
	position:absolute;
	bottom:50px;
	left:450px;
}

.page-blog .blog3 .leesmeer {
	margin-top:-18px;
}

*/

.page-nieuws div {
	   -o-transition:.2s;
	   -ms-transition:.2s;
	   -moz-transition:.2s;
	   -webkit-transition:.2s;
	   transition:.2s;
}


/*.page-nieuws div:hover {
	background-color:#aaaaaa;
}
*/
.page-nieuws h3 {
	position:absolute;
	left:50%;
	right:50%;
	margin-left:-150px;
	top:calc(1460px + 200px + 180px + 0px - 516px + 88px + 180px);
	text-align:center;
	width:300px;
	font-size:80px;
}

.page-nieuws .news1 {
	position:absolute;
	top: calc(1650px + 200px + 180px - 516px + 88px + 180px);
	left:500px;
	right:30px;
}

.page-nieuws .news2 {
	position:absolute;
	top: calc(1760px + 200px + 180px - 516px + 88px + 180px);
	left:30px;
	right:500px;
	text-align:right;
}

.page-nieuws .news3 {
	position:absolute;
	top: calc(1890px + 200px + 180px - 516px + 88px + 180px);
	left:500px;
	right:30px;
}

.page-nieuws .red {
	margin-bottom:-15px;
}




#wrap-redactie {
	position:relative;
}

.page-redactie {
	position:absolute;
	top: calc(1890px + 200px + 180px - 516px + 88px + 220px + 280px);
	left:520px;
}

.redactie-h3 {
	font-size:80px;
	margin-left:-130px;
}

.page-redactie p {
	position:absolute;
	top:170px;
	right:calc(150px - 160px);
	left:-360px;
}

#subtekst {
	position:absolute;
	text-align:center;
	top:270px;
	right:-235px;
	left:-0px;

}

.redactie-portretten {
	position:absolute;
	right:0px;
	top:360px;
}
.redactie-portretten img {
	width:98px;
	height:auto;
	float:right;
}

#expandedredactie-portretten img {
	padding:35px;
	width:300px;
}

#expandedredactie-portretten p {
	margin-left:370px;
	margin-top:23px;
	width:380px;
}

#expandedredactie-portretten .red {
	font-size:30px;
}
	
#expandedredactie-portretten  {
	width:900px;
}





.page-contact {
	width: 100%;
    height: auto;
    min-height: 1px;
    max-height: 999999px;
}

.page-contact h3 {
	position:absolute;
	left:calc(355px - 20px);
	top:calc(2005px + 200px + 180px + 70px + 800px + 100px - 516px + 150px - 240px - 20px + 20px + 380px);
	font-size:80px;
}

.page-contact p {
	position:relative;
	left:calc(360px - 20px);
	top:calc(1350px + 200px + 180px - 40px + 800px + 100px + 430px + 150px - 240px - 20px - 20px + 20px + 380px);
	width:500px;
}

.page-contact .red {
	margin-bottom:-15px;
}

#adverterentekst {
	max-height:10000px;
}

a {
	color:#CD0003;
}





.page-archief h3 {
	position:absolute;
	left:calc(355px + 20px);
	top:calc(2005px + 200px + 180px + 70px + 800px + 100px - 516px + 150px - 240px - 20px + 600px + 300px + 480px + 50px);
	font-size:80px;
}

.page-archief p {
	position:relative;
	right:calc(0px - 220px);
	top:calc(1350px + 200px + 180px - 40px + 800px + 100px + 430px + 150px - 240px - 20px - 20px + 250px + 480px - 50px);
	width:400px;
	text-align:right;
}







.letterkots {
	position: absolute;
	top: calc(3140px + 800px + 100px);
	left: 455px;
	width: 400px;
	height: 400px;
	background-image: url(images/letterkots.png);
	background-size: 400px auto;
	background-repeat: no-repeat;
	visibility:hidden;
}

#disclaimer {
	transform:rotate(-90deg);
	position:absolute;
	top:calc(3030px + 800px + 102px + 480px + 430px);
	left:550px;
}

#linewrap {
	z-index:0;
}

.vertical {
	background-color:#626262;
	width:12px;
}

.horizontal {
	background-color:#626262;
	height:12px;
}

#line1 {
	height:calc(506px + 180px - 150px + 80px);
	position:absolute;
	left:582px;	
	top:calc(606px - 516px);
}

#line1obscure {
	height:145px;
	position:absolute;
	left:772px;	
	top:calc(721px + 180px - 516px);
	background-color:#ffffff;
}

#line2 {
	width:440px;
	position:absolute;
	right:366px;
	top:calc(1100px + 180px - 516px - 150px + 80px);
}

#line3 {
	height:calc(362px + 200px + 230px + 100px);
	position:absolute;
	left:154px;	
	top:calc(1100px + 180px - 516px - 150px + 80px);
}

#line4 {
	width:326px;
	position:absolute;
	left:154px;
	top:calc(1450px + 200px + 180px - 516px - 150px + 230px + 180px);
}

#line5 {
	height:calc(620px + 70px + 100px);
	position:absolute;
	left:474px;	
	top:calc(1450px + 200px + 180px - 516px - 150px + 230px + 180px);
}

#line5obscure {
	height:85px;
	position:absolute;
	left:474px;	
	top:calc(1550px + 200px + 180px - 516px - 150px + 230px + 180px);
	background-color:#ffffff;
}

#line6 {
	width:230px;
	position:absolute;
	left:474px;
	top:calc(2070px + 200px + 180px + 70px - 516px - 150px + 230px + 280px);   /*2520px*/
}

#line7 {
	height:calc(817px + 100px - 240px + 20px + 100px);
	position:absolute;
	left:calc(844px - 370px - 200px + 12px + 500px - 90px);	
	top:calc(2070px + 200px + 180px + 70px - 516px - 150px + 230px + 280px);
}

#line8 {
	width:calc(520px - 30px - 90px);
	position:absolute;
	left:calc(330px - 25px);
	top:calc(3425px - 516px - 150px + 230px - 240px + 20px + 380px);
}

#line9 {
	height:calc(870px + 100px + 50px);
	position:absolute;
	left:calc(330px - 350px + 320px);	
	top:calc(3425px - 516px - 150px + 230px - 240px + 20px + 380px);
}

#line10{
	width:350px;
	position:absolute;
	left:calc(330px - 350px + 320px);	
	top:calc(3425px - 516px - 150px + 230px - 240px + 600px + 20px + 270px + 480px + 50px);
}

#line11{
	height:850px;
	position:absolute;
	left:calc(330px - 350px + 320px + 350px);	
	top:calc(3425px - 516px - 150px + 230px - 240px + 600px + 20px + 270px + 480px + 50px);
}


/*#line7obscure {
	height:85px;
	position:absolute;
	left:844px;	
	top:calc(2070px + 200px + 180px + 70px + 80px);
	background-color:#ffffff;
}*/
